<a href="https://colab.research.google.com/github/ravitejanalla/RAVI/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
a=np.zeros([5])
a
a=np.zeros([2,3])
a

array([[0., 0., 0.],
       [0., 0., 0.]])

In [11]:

from numpy import random
a=random.randint(50,size=(2,3))
a

array([[19, 12, 31],
       [31,  4, 25]])

In [12]:
from numpy import random
a=random.choice([1,2,3],size=(2,3))
a

array([[3, 1, 2],
       [1, 2, 2]])

In [14]:
import numpy as np
a=np.matrix([[12,2,3],[1,2,3]])
a

matrix([[12,  2,  3],
        [ 1,  2,  3]])

In [15]:
import numpy as np
a=np.arange(1,10,2)
a

array([1, 3, 5, 7, 9])

In [42]:
import numpy as np
a=np.array([[1,2,3],[1,2,3]])
a.ndim
a.shape
a.reshape(3,2)
a.flatten()
a.transpose()
a.reshape(3,2)
a.transpose()
x=np.arange(6).reshape((3,2))
np.transpose(x)
x=np.ones([1,2,3])
x
np.transpose(x,(2,0,1)).shape

(3, 1, 2)

In [104]:
import numpy as np
a=np.array([1,2,34,5,6])
a[:]

array([ 1,  2, 34,  5,  6])

In [62]:
import numpy as np
a=np.array([[1,2,34],[5,6,7],[2,3,4]])
a[0:4:2]

array([[ 1,  2, 34],
       [ 2,  3,  4]])

In [64]:
import numpy as np
a=np.array([[[1,2,3],[4,5,6],[1,2,3]],[[12,3,3],[1,2,3],[2,3,4]],[[1,2,3],[12,3,3],[1,2,3]]])
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 1,  2,  3]],

       [[12,  3,  3],
        [ 1,  2,  3],
        [ 2,  3,  4]],

       [[ 1,  2,  3],
        [12,  3,  3],
        [ 1,  2,  3]]])

In [74]:
a[:3,2:,:3]

array([[[1, 2, 3]],

       [[2, 3, 4]],

       [[1, 2, 3]]])

In [85]:
import numpy as np
import pandas as pd
data=pd.DataFrame(np.random.randn(40).reshape(10,4),columns=["one","two","three","four"])
data
ser=pd.Series(np.arange(1,11))
ser
d=pd.concat([ser,data],axis=1)
d
data[data<0]
data["total"]=data.one+data.two+data.three+data.four
data["total"]

0    1.278802
1   -0.619412
2   -1.812552
3    0.829187
4   -0.607180
5   -1.848630
6   -1.439398
7   -2.716779
8   -3.233648
9   -2.751081
Name: total, dtype: float64

In [103]:
import numpy as np
import pandas as pd
d=[["aa2",2,4,'yes'],
    ["aa3",3,4,'no'],
     ["www",3,3,'no']]
d
df=pd.DataFrame(d,index=list("abc"),columns=['name','score','attempts','qualify'])
df
roll=['2','2','3']
df['roll']=roll
df
df['name']=df['name'].replace('aa2','234')
df

  name  score  attempts qualify roll
a  234      2         4     yes    2
b  aa3      3         4      no    2
c  www      3         3      no    3